<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A17A3E381D8A687300BE7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17A3E4C1D8A687300BE7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17A3E571D8A687300BE7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
